<section class="section coffee-moments-section" id="gallery">
  <div class="container coffee-moments-container">
    <h2 class="coffee-moments-title">Coffee Moments</h2>
    <p class="coffee-moments-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="coffee-moments-list">
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-ceramic-cup.jpg    1x,
              /img/experience/mob-ceramic-cup@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-ceramic-cup.jpg    1x,
              /img/experience/tab-ceramic-cup@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-ceramic-cup.jpg    1x,
              /img/experience/desk-ceramic-cup@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-ceramic-cup.jpg"
            alt="A ceramic cup with a latte and delicate leaf-shaped foam art, placed on a wooden table."
            width="416"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-breakfast.jpg    1x,
              /img/experience/mob-breakfast@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-breakfast.jpg    1x,
              /img/experience/tab-breakfast@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-breakfast.jpg    1x,
              /img/experience/desk-breakfast@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-breakfast.jpg"
            alt="A breakfast scene with a filter coffee in a glass server, a small ceramic mug, and a plate with a croissant and butter."
            width="416"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-corner-armchair.jpg    1x,
              /img/experience/mob-corner-armchair@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-corner-armchair.jpg    1x,
              /img/experience/tab-corner-armchair@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-corner-armchair.jpg    1x,
              /img/experience/desk-corner-armchair@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-corner-armchair.jpg"
            alt="A café corner with a beige armchair and a small round wooden table."
            width="416"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-hands.jpg    1x,
              /img/experience/mob-hands@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-hands.jpg    1x,
              /img/experience/tab-hands@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-hands.jpg    1x,
              /img/experience/desk-hands@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-hands.jpg"
            alt="Hands of a barista are pouring an espresso shot into a ceramic cup."
            width="416"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-coffeejoy-interior.jpg    1x,
              /img/experience/mob-coffeejoy-interior@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-coffeejoy-interior.jpg    1x,
              /img/experience/tab-coffeejoy-interior@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-coffeejoy-interior.jpg    1x,
              /img/experience/desk-coffeejoy-interior@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-coffeejoy-interior.jpg"
            alt="A wide view of the CoffeeJoy interior."
            width="416"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-two-coffee-cups.jpg    1x,
              /img/experience/mob-two-coffee-cups@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-two-coffee-cups.jpg    1x,
              /img/experience/tab-two-coffee-cups@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-two-coffee-cups.jpg    1x,
              /img/experience/desk-two-coffee-cups@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-two-coffee-cups.jpg"
            alt="Two coffee cups on a small round table outdoors."
            width="416"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="coffee-moments-item">
        <picture>
          <source
            srcset="
              /img/experience/mob-takeaway-coffee-cup.jpg    1x,
              /img/experience/mob-takeaway-coffee-cup@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/experience/tab-takeaway-coffee-cup.jpg    1x,
              /img/experience/tab-takeaway-coffee-cup@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/experience/desk-takeaway-coffee-cup.jpg    1x,
              /img/experience/desk-takeaway-coffee-cup@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/experience/mob-takeaway-coffee-cup.jpg"
            alt="A takeaway coffee cup on a wooden bench in a park."
            width="704"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
