<header class="header">
  <div class="container header-container">
    <a href="" class="header-logo"
      ><svg width="84" height="36" class="logo-icon">
        <use href="img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav-list">
      <a class="nav-list-item" href="">About us</a>
      <a class="nav-list-item" href="">Benefits</a>
      <a class="nav-list-item" href="">Gallery</a>
      <a class="nav-list-item" href="">Testimonial</a>
      <a class="nav-list-item" href="">Location</a>
    </nav>

    <a href="" class="icon-menu"
      ><svg width="24" height="24">
        <use href="img/icons.svg#icon-menu"></use>
      </svg>
    </a>
  </div>
</header>
