<header class="header">
  <div class="container header-container">
    <a href="" class="header-logo"
      ><svg width="63" height="36" class="logo-icon">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav-list">
      <a class="nav-list-item" href="#about-us">About us</a>
      <a class="nav-list-item" href="#benefits">Benefits</a>
      <a class="nav-list-item" href="#gallery">Gallery</a>
      <a class="nav-list-item" href="#testimonials">Testimonial</a>
      <a class="nav-list-item" href="#location">Location</a>
    </nav>

    <button type="button" class="menu-burger-btn" data-menu-open>
      <svg width="24" height="24" class="burger-icon">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
