<section class="section" id="location">
  <div class="container">
    <div class="all">
      <div class="location-container">
        <p class="location-heading">Find</p>
        <h1 class="location-title">LOCATION</h1>
        <p class="location-text">Visit us at our cozy coffee shop!</p>
        <address class="address">
          <ul class="contacts">
            <li class="contacts-item">
              <div class="icon">
                <svg width="32" height="32">
                  <use href="/img/icons.svg#icon-envelope"></use>
                </svg>
              </div>
              <p class="contacts-title">Email</p>
              <a class="contacts-link" href="mailto:hello@coffeejoy.com"
                >hello@coffeejoy.com</a
              >
            </li>
            <li class="contacts-item">
              <div class="icon">
                <svg width="32" height="32">
                  <use href="/img/icons.svg#icon-phone"></use>
                </svg>
              </div>
              <p class="contacts-title">Phone</p>
              <a class="contacts-link" href="tel:+15551235321"
                >+1 (555) 123-5321</a
              >
            </li>
            <li class="contacts-item">
              <div class="icon">
                <svg width="32" height="32">
                  <use href="/img/icons.svg#icon-map"></use>
                </svg>
              </div>
              <p class="contacts-title">Office</p>
              <p class="contacts-text">263 Newbury St, Boston, MA 02116, USA</p>
              <a
                href="https://maps.app.goo.gl/w4EhD16WBRSwxexK8"
                class="location-button"
                target="_blank"
                rel="noopener noreferrer"
              >
                Get Directions
                <svg
                  class="icon-chevron"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons.svg#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.668927640902!2d-71.08594152349754!3d42.34958143576278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1770246887376!5m2!1suk!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
