<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-icon">
      <a href="" class="header-logo-mobile"
        ><svg width="63" height="36" class="logo-icon">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <a href="" class="header-icon-close"
        ><svg width="24" height="24" class="logo-icon">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </a>
    </div>

    <nav class="nav-list-mobile">
      <a class="nav-list-item-mobile" href="">About us</a>
      <a class="nav-list-item-mobile" href="">Benefits</a>
      <a class="nav-list-item-mobile" href="">Gallery</a>
      <a class="nav-list-item-mobile" href="">Testimonial</a>
      <a class="nav-list-item-mobile" href="">Location</a>
    </nav>
  </div>
</div>
