<div class="mobile-menu is-open">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-header">
      <a href="" class="header-logo-mobile"
        ><svg width="63" height="36" class="logo-icon">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="header-btn-close" type="button">
        <svg width="24" height="24" class="menu-close-icon">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="nav-list-mobile">
      <a class="nav-list-item-mobile" href="">About us</a>
      <a class="nav-list-item-mobile" href="">Benefits</a>
      <a class="nav-list-item-mobile" href="">Gallery</a>
      <a class="nav-list-item-mobile" href="">Testimonial</a>
      <a class="nav-list-item-mobile" href="">Location</a>
    </nav>
  </div>
</div>
