<section class="section quality-section">
  <div class="container quality-container">
    <p class="quality-subtitle">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <picture>
          <source
            srcset="
              /img/quality/mob-coffee.jpg    1x,
              /img/quality/mob-coffee@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/quality/tab-coffee.jpg    1x,
              /img/quality/tab-coffee@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/quality/desk-coffee.jpg    1x,
              /img/quality/desk-coffee@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/quality/mob-coffee.jpg"
            alt="A ceramic cup with a latte and delicate leaf-shaped foam art, placed on a wooden table."
            width="421"
            loading="lazy"
          />
        </picture>
        <h3 class="quality-item-subtitle">
          Fresh-Roasted Coffee for Every Taste
        </h3>
        <p class="quality-item-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            srcset="
              /img/quality/mob-barista.jpg    1x,
              /img/quality/mob-barista@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/quality/tab-barista.jpg    1x,
              /img/quality/tab-barista@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/quality/desk-barista.jpg    1x,
              /img/quality/desk-barista@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/quality/mob-barista.jpg"
            alt="A barista is making an espresso."
            width="421"
            loading="lazy"
          />
        </picture>
        <h3 class="quality-item-subtitle">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-item-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            srcset="
              /img/quality/mob-coffee-shop.jpg    1x,
              /img/quality/mob-coffee-shop@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/quality/tab-coffee-shop.jpg    1x,
              /img/quality/tab-coffee-shop@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              /img/quality/desk-coffee-shop.jpg    1x,
              /img/quality/desk-coffee-shop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/quality/mob-coffee-shop.jpg"
            alt="Generate a warm, welcoming coffee shop interior scene."
            width="704"
            loading="lazy"
          />
        </picture>
        <h3 class="quality-item-subtitle">Cozy Atmosphere</h3>
        <p class="quality-item-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
