<section class="section">
  <div class="container">
    <div class="testimonials-title-wrapper">
      <h2 class="testimonials-title">What our visitors say</h2>
    </div>
    <ul class="testimonials-cards">
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "Every cup feels like a warm hug! I’m addicted to their seasonal
                flavors!"
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Name Surname</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "CoffeeJoy is my go-to place for a perfect cup of coffee! The
                ambiance is so inviting, and the baristas are always friendly."
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Alice Johnson</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "I love the variety of blends offered at CoffeeJoy. Every visit
                feels like a new experience!"
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Michael Smith</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "The pastries are to die for! I can’t resist pairing them with
                my favorite latte. Highly recommend this spot!"
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Emily Davis</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "A cozy little gem! CoffeeJoy has the best cold brew in town. I
                come here every weekend!"
              </p>
            </li>
          </ul>
          <p class="card-comment-author">James Brown</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "The atmosphere is perfect for working or relaxing with friends.
                Their Wi-Fi is fast too!"
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Sarah Wilson</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "I’m addicted to their seasonal flavors! Each one is crafted
                with such care and creativity."
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Chris Lee</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="card-wrapper">
          <ul class="testimonials-card-content">
            <li>
              <ul class="stars-container">
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-filled-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="stars-item">
                  <svg class="star-outline-icon" width="20" height="19">
                    <use href="../img/icons.svg#icon-star-outline"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li>
              <p class="card-comment">
                "I appreciate how they source their coffee beans sustainably.
                It's great to support such an ethical business!"
              </p>
            </li>
          </ul>
          <p class="card-comment-author">Patricia Taylor</p>
        </div>
      </li>
    </ul>
  </div>
</section>
