<section class="section">
  <div class="container welcome-container">
    <div class="welcome-wrapper">
      <div class="left-content">
        <p class="section-subtitle">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>

      <div class="right-content">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>

        <a href="" class="welcome-btn"
          >Find location<svg width="20" height="20">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/welcome/welcome-1x-mob.jpg 1x,
          /img/welcome/welcome-2x-mob.jpg 2x
        "
        media="(max-width: 320px)"
      />

      <source
        srcset="
          /img/welcome/welcome-1x-tab.jpg 1x,
          /img/welcome/welcome-2x-tab.jpg 2x
        "
        media="(max-width: 768px)"
      />

      <source
        srcset="
          /img/welcome/welcome-1x-desk.jpg 1x,
          /img/welcome/welcome-2x-desk.jpg 2x
        "
        media="(min-width: 1440px)"
      />

      <img
        class="img-welcome"
        src="/img/welcome/welcome-1x-desk.jpg "
        alt="Generate a warm, authentic image that reflects the story and values of a specialty coffee shop. Show a barista preparing coffee with care — pouring from a kettle into a dripper or arranging freshly roasted beans. The setting is a cozy, well-lit café with wooden surfaces, plants, and coffee tools. Use soft, natural lighting and earthy tones. Focus on craftsmanship and passion, not the face. Mood: welcoming, artisanal, thoughtful."
      />
    </picture>
  </div>
</section>
