.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0cbb4;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-logo-mobile {
  display: block;
  padding: 18px 0 18px 16px;
}

.mobile-icon {
  display: flex;
  align-items: center;
}

.header-icon-close {
  margin-left: auto;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav-list-item-mobile {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-mobile:hover {
  opacity: 0.5;
}

.nav-list-item-mobile:active {
  opacity: 1;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
