.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0cbb4;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-header {
  display: flex;
  align-items: center;
}

.header-logo-mobile {
  display: block;
  padding: 18px 10px;
}

/* .logo-icon {} */

.header-btn-close {
  margin-left: auto;
  padding: 12px;
  background-color: transparent;
}

.header-btn-close:hover,
.header-btn-close:focus {
  opacity: 0.5;
}

.header-btn-close:active {
  opacity: 1;
}

/* .menu-close-icon {} */

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav-list-item-mobile {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-mobile:hover,
.nav-list-item-mobile:focus {
  opacity: 0.5;
}

.nav-list-item-mobile:active {
  opacity: 1;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}