.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 288px;
    min-height: 631px;
    border-radius: 40px;
    padding: 24px 16px;
    background-color: #e0cbb4;

    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close-btn {
    position: absolute;
    background-color: transparent;
    top: 24px;
    right: 24px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    opacity: 0.5;
}

.modal-close-btn:active {
    opacity: 1;
}

.modal-close-icon {
    display: block;
    fill: #0b0803;
    stroke: none;
}

.modal-title {
    color: #0b0803;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 16px;
}

.modal-subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 24px;
}

.modal-picture {
    border-radius: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn {
    height: 44px;
    width: 100%;
    border-radius: 100px;
    padding: 10px 24px;
    box-shadow:
        0 1px 2px 0 rgba(11, 8, 3, 0.05),
        inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
        inset 0 0 0 1px rgba(11, 8, 3, 0.15),
        inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
        inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #6f4e37;
    font-weight: 500;
    color: #fff;
    display: block;
    margin: 0 auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    opacity: 0.5;
}

.modal-btn:active {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 704px;
        min-height: 771px;
        padding: 24px 30px;
    }

    .modal-subtitle {
        margin-bottom: 48px;
    }

    .modal-picture {
        margin-bottom: 48px;
    }

    .modal-btn {
        max-width: 340px;
    }

    .modal-close-btn {
        right: 30px;
    }
}

@media screen and (min-width: 1440px) {
    .modal {
        width: 866px;
        min-height: 801px;
        padding: 24px 64px;
    }

    .modal-close-btn {
        right: 73px;
    }

    .modal-title {
        font-size: 48px;
    }
}