.welcome-container {
  padding: 0 16px;
}

/* .secton-hero{
    max-width: 320px;
    margin: 0 auto;
} */

.section-subtitle {
  padding-top: 64px;
  padding-bottom: 16px;
  font-weight: 600;
}

.welcome-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  padding-bottom: 67px;
}

.welcome-text {
  font-weight: 400;
  font-size: 18px;

  padding-bottom: 32px;
}

.welcome-btn {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  color: #fff;
  fill: #fff;
  gap: 12px;
  margin-bottom: 32px;

  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.welcome-btn:hover {
  opacity: 0.5;
}

.welcome-btn:active {
  opacity: 1;
}

.img-welcome {
  margin-top: 32px;
  border-radius: 40px;
  overflow: hidden;
  display: block;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .welcome-title,
  .welcome-text {
    width: 336px;
  }

  .welcome-text {
    padding-top: 64px;
  }

  .welcome-btn {
    width: 181px;
  }

  .welcome-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .welcome-title,
  .welcome-text {
    width: 640px;
  }
}
